<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Panel de Usuario</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<style>
    body{
        background: linear-gradient(to bottom, #a8e6ce,#ffffff);
        min-height: 100vh;
        margin: 0;
        font-family: Arial, sans-serif;
    }
    .form-container{
        background-color: #f4f4f4;
        border-radius: 10px;
        padding: 10px 40px 40px 40px;
        max-width: 400px;
        margin: auto;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    }
    h1 {
        color: #ff6f20;
    }

    a.password-link {
        color: #0000ee;
        display: block;
        margin: 10px 0;
    }

    .btn-login {
        background-color: #003b5c;
        color: white;
    }

    .btn-register {
        background-color: #d9d9d9;
        color: #003b5c;
    }
    button:hover {
        background-color: #005b8e;
        color: white;
    }

    .btn-rounded {
        border-radius: 20px;
        padding: 8px 20px;
    }
    .btn-darkblue {
        background-color: #00334e;
        color: white;
    }
    .highlight-box {
        border: 1px solid black;
        border-radius: 20px;
        padding: 15px;
        background-color: white;
    }
    .highlight-title {
        color: #ff6600;
        font-weight: bold;
        font-size: 20px;
    }
</style>
<body class="p-4">

<div class="d-flex justify-content-between align-items-start mb-3">
    <button class="btn-darkblue btn-rounded">Mi Perfil</button>
    <h1 class="text-center flex-grow-1 fw-bold">Bienvenido <span>{{usuario}}</span></h1>
    <button class="btn-darkblue btn-rounded" > <a href="/Preguntastico/TP-FinalPW2/view/cerrarSesion.php">Cerrar Sesión</a> </button>
</div>

<div class="text-center mb-4">
    <p class="fs-5">Tu puntaje actual<br><strong class="fs-4">es: PUNTAJE</strong></p>
</div>

<div class="row">
    <div class="col-md-3 d-flex flex-column gap-3">
        <button class="btn-darkblue btn-rounded">Ir al ranking mundial</button>
        <button class="btn-darkblue btn-rounded">Crear Nueva Pregunta</button>
    </div>

    <div class="col-md-6 text-center">
        <form action="" method="get">
            <input type="hidden" name="controller" value="partida">
            <input type="hidden" name="method" value="iniciarPartida">
            <button type="submit" class="btn btn-darkblue btn-rounded px-5 py-3 fs-5">
                Iniciar Partida
            </button>
        </form>
    </div>


    <div class="col-md-3">
        <div class="highlight-box">
            <div class="highlight-title mb-2 text-center">Partidas jugadas</div>
            <ul class="list-unstyled mb-0">
                <li>Fecha: Puntos</li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>
