body{
    background: linear-gradient(to bottom, #a8e6ce,#ffffff);
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}
.form-container{
    background-color: #f4f4f4;
    border-radius: 10px;
    padding: 10px 40px 40px 40px;
    max-width: 400px;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
h1 {
    color: #ff6f20;
}

a.password-link {
    color: #0000ee;
    display: block;
    margin: 10px 0;
}

.btn-login {
    background-color: #003b5c;
    color: white;
}

.btn-register {
    background-color: #d9d9d9;
    color: #003b5c;
}
button:hover {
    background-color: #005b8e;
    color: white;
}

.btn-rounded {
    border-radius: 20px;
    padding: 8px 20px;
}
.btn-darkblue {
    background-color: #00334e;
    color: white;
}
.highlight-box {
    border: 1px solid black;
    border-radius: 20px;
    padding: 15px;
    background-color: white;
}
.highlight-title {
    color: #ff6600;
    font-weight: bold;
    font-size: 20px;
}